<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory HomePage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center pt-2">
    <h1>Welcome to Inventory</h1>
    <div class="p-2">
        <a
                class="h2"
                th:href="@{/categories}"
        >
            List Categories
        </a>
    </div>
    <div class="p-2">
        <a
                class="h2"
                th:href="@{/categories/new}"
        >
            Create Category
        </a>
    </div>
    <div class="p-2">
        <a
                class="h2"
                th:href="@{/products}"
        >
            List Products
        </a>
    </div>
    <div class="p-2">
        <a
                class="h2"
                th:href="@{/products/new}"
        >
            Create Product
        </a>
    </div>
</div>
</body>
</html>